.wrapper {
  position: relative;
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.document {
  position: absolute;
}

.canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
}
